@charset "UTF-8";

body{
            background-color: rgb(0, 83, 11);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            
        }
        h1{
            color : rgb(1, 1, 148);
            background-color: rgb(74, 90, 0);
        }
        h2{
            color: rgb(211, 0, 165);
            font-size: 1.2em;
        }
        p{
            font-size: 1.5em;
        }