@charset"utf-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #455559 , #2F3D40);
}
p {
    text-align: justify;
    font-size: medium;
    font-family: cursive;
}
 main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #152222c7;
    width: 800px;
    padding: 10px;
    margin: auto;

 }
 h1 {
    text-align: center;
    color: #3D5A73;
    text-shadow: 1px 1px 2px #152222b2;

}
    h2 {
        font-family: cursive;
        color: #3D5A73;
        
    }